.home-filter-container{
  label {
    display: block;
    margin-top: 45px;
    color: #9599a3;
  }

  h1 {
    font-size: 18px;
    line-height: 21px;
    color: #212121;
  }

  form.new_shoe_filter {
    label {
      margin-top: 10px;
      color: #212121;
    }
  }
}