.home-filter-container
  label Refine by
  = simple_form_for ShoeFilter.new(params[:shoe_filter]), url: home_index_path, html: { method: :get }, remote: true do |f|
    h1 Brands
    = f.collection_check_boxes :brand_ids, Brand.all.map{ |b| [b.id, b.title]}, :first, :last
    h1 Price
    #price_bar
    = f.input :price_from, as: :hidden
    = f.input :price_to, as: :hidden

coffee:
  $('#new_shoe_filter input').change ->
    $(this).submit()

javascript:
  var price_bar = document.getElementById('price_bar');
  noUiSlider.create(price_bar, {
    start: [0, 200],
    connect: true,
    step: 50,
    range: {
      'min': 0,
      'max': 200
    },
    format: wNumb({
      decimals: 0
    })
  });
  price_bar.noUiSlider.on('change', function( values, handle ) {
    $('#shoe_filter_price_from').val(values[0])
    $('#shoe_filter_price_to').val(values[1])

    $('#new_shoe_filter').submit();
  });

  price_bar.noUiSlider.on('update', function( values, handle ) {
    $('#shoe_filter_price_from').val(values[0])
    $('#shoe_filter_price_to').val(values[1])
  });